* {
  box-sizing: border-box;
  --white:(##fff);
  --grey:(#333);
  --black:rgba(0, 0, 0, 0.1);
  --blue: #3498db;
}


body {
  font-family: Arial, sans-serif;
  color: var(--grey);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--white);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 4px var(--black);
}

h1 {
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--black);
  margin: 1rem;
  overflow: hidden;
  max-width: 300px;
  width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 1rem;
}

.card-title {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  color: var(--blue);
}

.card-text {
  margin: 0;
  font-size: 1.4rem;
}

@container (max-widt:540px) {
  .card-title {
    font-size: 1rem;
  }
}